<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010964968586-t72ij761pnld2vta1im7agoglr2ii7qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010964968586-t72ij761pnld2vta1im7agoglr2ii7qn</string>
	<key>API_KEY</key>
	<string>AIzaSyALF8h8VZ0ya8tqIuS6H9hl8K4CCQfM7_g</string>
	<key>GCM_SENDER_ID</key>
	<string>1010964968586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dddRiverpod</string>
	<key>PROJECT_ID</key>
	<string>ddd-with-riverpod</string>
	<key>STORAGE_BUCKET</key>
	<string>ddd-with-riverpod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010964968586:ios:ce6676b8ed8de2d81de973</string>
</dict>
</plist>